<template>
    <div class="container">
        <div class="col-xs-12">
                <h1 class="page-header">Asignación</h1>
        </div>
        <hr>
        <div id="aeronave" class="row">
            <div class="col-sm-8">
                <h3 class="page-header">Viajes</h3>
                
            </div>

            <div class="col-sm-4">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search" v-model="search">
                    <span class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                    </span>
                </div>
            </div>

            <br><br><br>    
            <div class="col">  

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Código</th>
                            <th scope="col">Origen</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Plazas</th>
                            <th scope="col">Precio</th>
                            <th scope="col" colspan="2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="!(filteredClients.length > 0)">
                            <td class="text-center" colspan="12">
                                No exiten datos
                            </td>
                        </tr>
                        <tr v-if="filteredClients.length > 0" v-for="(travel,item) in filteredClients">
                            <th scope="row">{{item+1}}</th>
                            <td>{{travel.code}}</td>
                            <td>{{travel.from}}</td>
                            <td>{{travel.to}}</td>
                            <td>{{travel.places}}</td>
                            <td>{{travel.price}}</td>
                            <td>
                                <button title="Asignar Viajero" type="button" class="btn btn-primary btn-sm" @click="createAssigment(travel)">
                                    <i class="fa fa-fw fa-plus"></i>
                                </button>
                            </td>
                            <td>
                                <button title="Mostrar Viajeros en este Viaje" type="button" class="btn btn-warning btn-sm" @click="showAssigment(travel)">
                                    <i class="fa fa-fw fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="modal fade bd-example-modal-lg" id="assigment" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" style="overflow: auto !important;">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Asignación</h5>
                            
                            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close" v-on:click="clear">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        
                        <div class="modal-body">  
                                         
                            <form>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="searchClient">Buscar Viajero por Nombre, Apellido o Cédula</label>           
                                            <input type="text" maxlength="10" class="form-control" id="searchClient" placeholder="Buscar..." v-model="searchClient">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <span v-if="errors" class="text-danger">{{ errors }}</span>
                                    </div>
                                </div>
                                <div class="form-row">
                                                                             
                                    <div class="col">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Item</th>
                                                    <th scope="col">Cédula</th>
                                                    <th scope="col">Nombres</th>
                                                    <th scope="col">Apellidos</th>
                                                    <th scope="col">País</th>
                                                    <th scope="col">Estado</th>     
                                                    <th scope="col">Asignar</th>     
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-if="!(filteredClientsTravel.length > 0)">
                                                    <td class="text-center" colspan="12">
                                                        No exiten datos
                                                    </td>
                                                </tr>
                                                <tr v-if="filteredClientsTravel.length > 0 " v-for="(client,item) in filteredClientsTravel">
                                                    <th scope="row">{{item+1}}</th>
                                                    <td>{{client.id_number}}</td>
                                                    <td>{{client.name}}</td>
                                                    <td>{{client.lastname}}</td>
                                                    <td>{{client.country}}</td>
                                                    <td>{{client.state}}</td>
                                                    <td>
                                                        <button title="Asignar Viajero" type="button" class="btn btn-primary btn-sm" @click="storeAssigment(client.id,travelEdit.id)">
                                                            <i class="fa fa-fw fa-plus"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        
                        </div>
                    </div>
                </div>

                <div class="modal fade bd-example-modal-lg" id="showAssigment" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" style="overflow: auto !important;">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Viajeros en este Viaje</h5>
                            
                            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close" v-on:click="clear">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        
                        <div class="modal-body">  
                                       
                            <form>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">           
                                            <input type="text" maxlength="10" class="form-control" id="searchClientAssign" placeholder="Buscar..." v-model="searchClientAssign">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <span v-if="errors" class="text-danger">{{ errors }}</span>
                                    </div>
                                </div>
                                <div class="form-row">                                        
                                    <div class="col">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Item</th>
                                                    <th scope="col">Cédula</th>
                                                    <th scope="col">Nombres</th>
                                                    <th scope="col">Apellidos</th>
                                                    <th scope="col">Eliminar de este Viaje</th>     
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-if="!(filteredClientsAssign.length > 0)">
                                                    <td class="text-center" colspan="12">
                                                        No exiten datos
                                                    </td>
                                                </tr>
                                                <tr v-if="filteredClientsAssign.length > 0 " v-for="(client,item) in filteredClientsAssign">
                                                    <th scope="row">{{item+1}}</th>
                                                    <td>{{client.id_number}}</td>
                                                    <td>{{client.name}}</td>
                                                    <td>{{client.lastname}}</td>
                                                    <td>
                                                        <button title="Eliminar de Este viaje" type="button" class="btn btn-danger btn-sm" @click="deleteAssigment(client.id,travelShow.id)">
                                                            <i class="fa fa-fw fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>


<script>
    import axios from 'axios';
    import swal from 'sweetalert';
    export default {
        mounted() {
            console.log('travels-component component');
            //$('.price').mask("###0.00", {reverse: true}); 
            $('.price').mask("#0.00", {reverse: true}); 
            $('.number').mask('999'); 
        },
        data () {
            return {
                search: '',
                searchClient: '',
                searchClientAssign: '',
                travels: [],
                clients: [],
                clientsAssign: [],
                states: [],
                travelEdit: {},
                travelShow: {},
                travelDelete: {},

                errors: []
            }
        },
        created() {
            this.getTravels();
            this.getClients()
            
        },
        computed: {
            filteredClients() {
                return this.travels.filter(travel => {
                    return travel.code.toLowerCase().includes(this.search.toLowerCase())
                    || travel.from.toLowerCase().includes(this.search.toLowerCase())
                    || travel.to.toLowerCase().includes(this.search.toLowerCase())
                    || travel.places.toString().includes(this.search.toLowerCase())
                    || travel.price.toString().includes(this.search.toLowerCase())
                    
                })
            },
            filteredClientsTravel() {
                return this.clients.filter(client => {
                    return client.id_number.toString().includes(this.searchClient.toLowerCase())
                    || client.name.toLowerCase().includes(this.searchClient.toLowerCase())
                    || client.lastname.toLowerCase().includes(this.searchClient.toLowerCase())
                    
                    
                })
            },
            filteredClientsAssign() {
                return this.clientsAssign.filter(clientsAssign => {
                    return clientsAssign.id_number.toString().includes(this.searchClientAssign.toLowerCase())
                    || clientsAssign.name.toLowerCase().includes(this.searchClientAssign.toLowerCase())
                    || clientsAssign.lastname.toLowerCase().includes(this.searchClientAssign.toLowerCase())
                })
            },

        },
        methods: {
            getClients () {
                var urlClients = 'traveler';
                axios.get(urlClients).then(response => {
                    this.clients = response.data.clients;                    
                })
            },
            getTravels () {
                var urlTravels = 'trip';
                axios.get(urlTravels).then(response => {
                    this.travels = response.data.travels;                    
                })
            },
            createAssigment (travel) {
                
                this.travelEdit = Object.assign({}, travel)               
                  
                $('#assigment').modal('show')
                $('#assigment').on('hidden.bs.modal', e => {                        
                    this.travelEdit = {}
                })                            

            },
            storeAssigment (id_client,id_travel) {
                
                var url = 'assign';
                swal({
                    title: "Asignar Viajero",
                    text: "Confirme la Asignación a éste Viaje",
                    icon: "info",
                    buttons: true,
                    dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                            axios.post(url, {
                            id_client: id_client,
                            id_travel: id_travel
                          }).then(response => {
                                this.errors = [];
                                this.clear();
                                this.getTravels();
                                $('#assigment').modal('hide');  
                                $('.modal-backdrop').remove();
                                swal("Asignación Realizada", "Registro creado con éxito", "success")
                            }).catch(error => {
                                if(error.response.data.errors)
                                    this.errors = error.response.data.errors;
                                else if(error.response.data.status)
                                    this.errors = [];
                                    this.clear();
                                    this.getTravels();
                                    $('#assigment').modal('hide');  
                                    $('.modal-backdrop').remove();
                                    swal(error.response.data.status, error.response.data.msg, "warning"); 
                                        })
                        }
                })
            },
            showAssigment (travel) {
                this.travelShow = Object.assign({}, travel)

                var urlTravels = 'assign/'+travel.id;
                    axios.get(urlTravels).then(response => {
                    this.errors = [];
                    this.clientsAssign = response.data;
                    
                    $('#showAssigment').modal('show')
                    $('#showAssigment').on('hidden.bs.modal', e => {
                        
                        this.travelShow = {}
                    })
                }).catch(error => {
                                console.log(error)
                            });               

            },
            deleteAssigment (id_client,id_travel) {

                this.travelDelete = {
                    id_client: id_client,
                    id_travel: id_travel
                };

                var url = 'assign_delete';
                swal({
                    title: "Eliminar Viajero en Este Viaje",
                    text: "¿Esta seguro que desea eliminar éste Viajero?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                            axios.post(url,this.travelDelete).then(response => {
                                this.errors = [];
                                this.clear();
                                this.getTravels();
                                $('#showAssigment').modal('hide');  
                                $('#showAssigment').on('hidden.bs.modal', e => {
                                    this.travelShow = {}
                                })
                                $('.modal-backdrop').remove();
                                swal("Registro Eliminado", "El registro se ha eliminado con exito", "success");
    
                            }).catch(error => {
                                swal(error.response.data.status, error.response.data.msg, "warning");
                            })
                        }
                })
            },
            
            clear: function(){
                this.travel = {
                        code:'',
                        places: '',
                        id_from:'',
                        id_to:'',
                        id_state:'',
                        price:''
                    }
                
                this.travelEdit = {}
               
                this.errors = [];
            }
        }
    }
</script>
