<template>
    <div class="container">
        <div class="col-xs-12">
                <h1 class="page-header">Clientes</h1>
        </div>
        <hr>
        <div id="client" class="row">
            <div class="col-sm-8">
                <button type="button" class="btn btn-primary" v-on:click.prevent="createClient">
                    Nuevo Cliente
                </button>
            </div>

            <div class="col-sm-4">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search" v-model="search">
                    <span class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                    </span>
                </div>
            </div>

            <br><br><br>    
            <div class="col">  

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Cédula</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">País</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Fecha de registro</th>
                            <th scope="col" colspan="2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="!(filteredClients.length > 0)">
                            <td class="text-center" colspan="12">
                                No exiten datos
                            </td>
                        </tr>
                        <tr v-if="filteredClients.length > 0" v-for="(client,item) in filteredClients">
                            <th scope="row">{{item+1}}</th>
                            <td>{{client.id_number}}</td>
                            <td>{{client.name}}</td>
                            <td>{{client.lastname}}</td>
                            <td>{{client.country}}</td>
                            <td>{{client.state}}</td>
                            <td>{{client.address}}</td>
                            <td>{{client.phone}}</td>
                            <td>{{client.created_at}}</td>
                            <td>
                                <button type="button" class="btn btn-warning btn-sm" @click="editClient(client)">
                                    <i class="fa fa-fw fa-wrench"></i>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" v-on:click.prevent="deleteClient(client.id)">
                                    <i class="fa fa-fw fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="modal fade bd-example-modal-lg" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" v-if="!this.editing">Nuevo Cliente</h5>
                            <h5 class="modal-title" v-if="this.editing">Editar Cliente</h5>
                            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close" v-on:click="clear">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                            <form>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="id_number">Cédula</label>
                                            <input v-if="!this.editing" type="text" maxlength="10" class="form-control id_number" id="id_number" placeholder="00.000.000" v-model.lazy="client.id_number">
                                            <input v-if="this.editing" type="text" maxlength="10" class="form-control id_number" id="id_number" placeholder="00.000.000" v-model.lazy="clientEdit.id_number">

                                            <span v-if="errors.id_number" class="text-danger">{{ errors.id_number }}</span>
                                                <br>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="phone">Telefono</label>
                                            <input v-if="!editing" type="tel" class="form-control phone" id="phone" placeholder="(00) 000 000-0000" v-model.lazy="client.phone">
                                            <input v-if="editing" type="tel" class="form-control phone" id="phone" placeholder="(00) 000 000-0000" v-model.lazy="clientEdit.phone">

                                            <span v-if="errors.phone" class="text-danger">{{ errors.phone }}</span>
                                                <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="name">Nombres</label>
                                            <input v-if="!editing" type="text" class="form-control" id="name" placeholder="Nombres" v-model="client.name">
                                            <input v-if="editing" type="text" class="form-control" id="name" placeholder="Nombres" v-model="clientEdit.name">

                                            <span v-if="errors.name" class="text-danger">{{ errors.name }}</span>
                                                <br>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="lastname">Apellidos</label>
                                            <input v-if="!editing" type="text" class="form-control" id="lastname" placeholder="Apellidos" v-model="client.lastname">
                                            <input v-if="editing" type="text" class="form-control" id="lastname" placeholder="Apellidos" v-model="clientEdit.lastname">

                                            <span v-if="errors.lastname" class="text-danger">{{ errors.lastname }}</span>
                                                <br>
                                        </div>
                                    </div>
                                    
                                </div>
                                

                                <div class="form-row">
                                    
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="country">País</label>
                                            <select name="country" v-if="!this.editing" class="form-control" v-model="client.id_country">                                        
                                                <option v-for='country in countries' v-bind:value="country.id">{{country.country}}</option>
                                            </select>
                                            <select name="country" v-if="this.editing" class="form-control" v-model="clientEdit.id_country">
                                                
                                                <option v-for='country in countries' v-bind:value="country.id">{{country.country}}</option>
                                            </select>

                                            <span v-if="errors.id_country" class="text-danger">{{ errors.id_country }}</span>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="state">Estado</label>
                                                <select name="state" v-if="!this.editing" class="form-control" v-model="client.id_state">
                                                    
                                                    <option v-for='state in states' v-if='state.id_country==client.id_country || state.id_country==clientEdit.id_country' v-bind:value="state.id">{{state.state}}</option>
                                                </select>
                                                <select name="state" v-if="this.editing" class="form-control" v-model="clientEdit.id_state">
                                                    
                                                    <option v-for='state in states' v-if='state.id_country==client.id_country || state.id_country==clientEdit.id_country' v-bind:value="state.id">{{state.state}}</option>
                                                </select>

                                                <span v-if="errors.id_state" class="text-danger">{{ errors.id_state }}</span>
                                                <br>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-row">
                                    
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="address">Dirección de Habitación</label>
                                            <textarea v-if="!editing" class="form-control" id="address" rows="3" v-model="client.address"></textarea>
                                            <textarea v-if="editing" class="form-control" id="address" rows="3" v-model="clientEdit.address"></textarea>

                                            <span v-if="errors.address" class="text-danger">{{ errors.address }}</span>
                                                <br>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="clear">Cerrar</button>
                            <button v-if="!editing" type="button" class="btn btn-primary" @click="storeClient()">
                                Guardar
                            </button>

                            <button v-if="editing" type="button" class="btn btn-primary" @click="updateClient(clientEdit.id)">
                                Modificar
                            </button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>


<script>
    import axios from 'axios';
    import swal from 'sweetalert';

    export default {
        mounted() {
            console.log('clients-component component');
            $('.date').mask('00/00/0000');
            $('.phone').mask('(00) 000 000-0000');
            $('.id_number').mask('9999999999'); 
        },
        data () {
            return {
                search: '',
                clients: [],
                countries: [],
                states: [],
                editing: false,
                clientEdit: {},
                client: {
                    name:'',
                    lastname: '',
                    id_number:'',
                    id_country:'',
                    id_state:'',
                    phone:'',
                    address:''
                },

                errors: []
            }
        },
        created() {
            this.getClients()
        },
        computed: {
            filteredClients() {
                return this.clients.filter(client => {
                    return client.name.toLowerCase().includes(this.search.toLowerCase())
                    || client.lastname.toLowerCase().includes(this.search.toLowerCase())
                    || client.id_number.toString().includes(this.search.toLowerCase())
                    || client.country.toLowerCase().includes(this.search.toLowerCase())
                    || client.state.toLowerCase().includes(this.search.toLowerCase())
                    || client.address.toLowerCase().includes(this.search.toLowerCase())
                    || client.phone.toLowerCase().includes(this.search.toLowerCase())
                    || client.created_at.toLowerCase().includes(this.search.toLowerCase())
                })
            },

        },
        methods: {
            getClients () {
                var urlClients = 'traveler';
                axios.get(urlClients).then(response => {
                    this.clients = response.data.clients;                    
                })
            },
            createClient (){
                var urlClients = 'traveler/create';
                    axios.get(urlClients).then(response => {
                    this.countries = response.data.countries;
                    this.states = response.data.states;
                    $('#modal').modal('show')
                }).catch(error => {
                                console.log(error)
                            });
                
            },
            storeClient () {
                axios.post('traveler', this.client).then(response => {
                    this.client = {
                        name:'',
                        lastname: '',
                        id_number:'',
                        id_country:'',
                        id_state:'',
                        phone:'',
                        address:''
                    };

                    this.errors = [];
                    this.clear();
                    this.getClients();

                    $('#modal').modal('hide');  
                    $('.modal-backdrop').remove();
                    swal("Registro Creado", "Registro creado con exito", "success");
                    
                    
                }).catch(error => { 
                                    
                    this.errors = error.response.data.errors;
                    
                });
            },
            deleteClient (id) {
                var url = 'traveler/' + id;
                swal({
                    title: "Eliminar Cliente",
                    text: "¿Esta seguro que desea eliminar el cliente?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                            axios.delete(url).then(response => {
                                swal("Registro Eliminado", "El registro se ha eliminado con exito", "success");
                                this.getClients()
                            }).catch(err => {
                                console.log(err)
                            })
                        }
                })
            },
            editClient (client) {
                this.editing =true;
                this.clientEdit = Object.assign({}, client)

                var urlClients = 'traveler/create';
                    axios.get(urlClients).then(response => {
                    this.countries = response.data.countries;
                    this.states = response.data.states;
                    $('#modal').modal('show')
                    $('#modal').on('hidden.bs.modal', e => {
                        this.editing =false
                        this.clientEdit = {}
                    })
                }).catch(error => {
                                console.log(error)
                            });               

            },
            updateClient (id) {
                var url = 'traveler/' + id;

                axios.put(url, this.clientEdit).then(response => {
                    console.log(response);
                    this.getClients();
                    $('#modal').modal('hide');
                    swal("Registro Actualizado", "El registro se ha actualizado con Éxito", "success");
                    this.clear();
                    t
                }).catch(error => {           
                    this.errors = error.response.data.errors;
                    
                });            
            },
            clear: function(){
                this.client = {
                        name:'',
                        lastname: '',
                        id_number:'',
                        id_country:'',
                        id_state:'',
                        phone:'',
                        address:''
                    }
                
                this.clientEdit = {}
               
                this.errors = [];

                this.editing = false;
            }
        }
    }
</script>
