<template>
    <div class="container">
        <div class="col-xs-12">
                <h1 class="page-header">Viajes</h1>
        </div>
        <hr>
        <div id="aeronave" class="row">
            <div class="col-sm-8">
                <button type="button" class="btn btn-primary" v-on:click.prevent="createTravel">
                    Nuevo Viaje
                </button>
            </div>

            <div class="col-sm-4">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search" v-model="search">
                    <span class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                    </span>
                </div>
            </div>

            <br><br><br>    
            <div class="col">  

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Código</th>
                            <th scope="col">Origen</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Plazas</th>
                            <th scope="col">Precio</th>
                            <th scope="col" colspan="2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="!(filteredTravels.length > 0)">
                            <td class="text-center" colspan="12">
                                No exiten datos
                            </td>
                        </tr>
                        <tr v-if="filteredTravels.length > 0" v-for="(travel,item) in filteredTravels">
                            <th scope="row">{{item+1}}</th>
                            <td>{{travel.code}}</td>
                            <td>{{travel.from}}</td>
                            <td>{{travel.to}}</td>
                            <td>{{travel.places}}</td>
                            <td>{{travel.price}}</td>
                            <td>
                                <button title="Editar" type="button" class="btn btn-warning btn-sm" @click="editTravel(travel)">
                                    <i class="fa fa-fw fa-wrench"></i>
                                </button>
                            </td>
                            <td>
                                <button title="Eliminar" type="button" class="btn btn-danger btn-sm" v-on:click.prevent="deleteTravel(travel.id)">
                                    <i class="fa fa-fw fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="modal fade bd-example-modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" v-if="!this.editing">Nuevo Viaje</h5>
                            <h5 class="modal-title" v-if="this.editing">Editar Viaje</h5>
                            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close" v-on:click="clear">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">                            
                            <form>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="code">Código</label>
                                            <input v-if="!this.editing" type="text" maxlength="10" class="form-control" id="code" placeholder="Código" v-model="travel.code">
                                            <input v-if="this.editing" type="text" maxlength="10" class="form-control" id="code" placeholder="Código" v-model="travelEdit.code">

                                            <span v-if="errors.code" class="text-danger">{{ errors.code }}</span>
                                                <br>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="places">Plazas</label>
                                            <input v-if="!editing" type="text" class="form-control number" id="places" placeholder="Plazas" v-model.lazy="travel.places">
                                            <input v-if="editing" type="text" class="form-control number" id="places" placeholder="Plazas" v-model.lazy="travelEdit.places">

                                            <span v-if="errors.places" class="text-danger">{{ errors.places }}</span>
                                                <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="from">Origen</label>
                                            <select name="from" v-if="!this.editing" class="form-control" v-model="travel.id_from">
                                                
                                                <option v-for='state in states'v-bind:value="state.id">{{state.state}}</option>
                                            </select>
                                            <select name="from" v-if="this.editing" class="form-control" v-model="travelEdit.id_from">
                                                
                                                <option v-for='state in states'v-bind:value="state.id">{{state.state}}</option>
                                            </select>

                                            <span v-if="errors.id_from" class="text-danger">{{ errors.id_from }}</span>
                                            <br>
                                    </div>
                                    <div class="form-group">
                                        <label for="to">Destino</label>
                                            <select name="to" v-if="!this.editing" class="form-control" v-model="travel.id_to">
                                                
                                                <option v-for='state in states'v-bind:value="state.id">{{state.state}}</option>
                                            </select>
                                            <select name="to" v-if="this.editing" class="form-control" v-model="travelEdit.id_to">
                                                
                                                <option v-for='state in states'v-bind:value="state.id">{{state.state}}</option>
                                            </select>

                                            <span v-if="errors.id_to" class="text-danger">{{ errors.id_to }}</span>
                                            <br>
                                    </div>
                                    
                                </div>
                                

                                <div class="form-row">
                                    
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="price">Precio</label>
                                            <input v-if="!editing" type="text" class="form-control price" id="price" placeholder="0.00" v-model.lazy="travel.price">
                                            <input v-if="editing" type="text" class="form-control price" id="price" placeholder="0.00" v-model.lazy="travelEdit.price">

                                            <span v-if="errors.price" class="text-danger">{{ errors.price }}</span>
                                                <br>
                                        </div>
                                    </div>
                                    <div class="col">
                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="clear">Cerrar</button>
                            <button v-if="!editing" type="button" class="btn btn-primary" @click="storeTravel()">
                                Guardar
                            </button>

                            <button v-if="editing" type="button" class="btn btn-primary" @click="updateTravel(travelEdit.id)">
                                Modificar
                            </button>
                        </div>
                        </div>
                    </div>
                </div>              

            </div>
        </div>
    </div>
</template>


<script>
    import axios from 'axios';
    import swal from 'sweetalert';
    export default {
        mounted() {
            console.log('travels-component component');
            //$('.price').mask("###0.00", {reverse: true}); 
            $('.price').mask("#,##0.00", {reverse: true}); 
            $('.number').mask('999'); 
        },
        data () {
            return {
                search: '',
                travels: [],
                states: [],
                editing: false,
                travelEdit: {},
                travel: {
                    code:'',
                    places: '',
                    id_from:'',
                    id_to:'',
                    id_state:'',
                    price:''
                    
                },

                errors: []
            }
        },
        created() {
            this.getTravels()
            
        },
        computed: {
            filteredTravels() {
                return this.travels.filter(travel => {
                    return travel.code.toLowerCase().includes(this.search.toLowerCase())
                    || travel.from.toLowerCase().includes(this.search.toLowerCase())
                    || travel.to.toLowerCase().includes(this.search.toLowerCase())
                    || travel.places.toString().includes(this.search.toLowerCase())
                    || travel.price.toString().includes(this.search.toLowerCase())
                    
                })
            },

        },
        methods: {
            getTravels () {
                var urlTravels = 'trip';
                axios.get(urlTravels).then(response => {
                    this.travels = response.data.travels;                    
                })
            },
            createTravel (){
                var urlTravels = 'trip/create';
                    axios.get(urlTravels).then(response => {
                    
                    this.states = response.data.states;
                    $('#modal').modal('show')
                }).catch(error => {
                                console.log(error)
                            });
                
            },
            storeTravel () {
                axios.post('trip', this.travel).then(response => {
                    this.travel = {
                        code:'',
                        places: '',
                        id_from:'',
                        id_to:'',
                        id_state:'',
                        price:''
                    };

                    this.errors = [];
                    this.clear();
                    this.getTravels();

                    $('#modal').modal('hide');  
                    $('.modal-backdrop').remove();
                    swal("Registro Creado", "Registro creado con exito", "success");
                    
                    
                }).catch(error => { 
                                    
                    this.errors = error.response.data.errors;
                    
                });
            },
            deleteTravel (id) {
                var url = 'trip/' + id;
                swal({
                    title: "Eliminar Viaje",
                    text: "¿Esta seguro que desea eliminar éste Viaje?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                            axios.delete(url).then(response => {
                                swal("Registro Eliminado", "El registro se ha eliminado con exito", "success");
                                this.getTravels()
                            }).catch(err => {
                                console.log(err)
                            })
                        }
                })
            },
            editTravel (travel) {
                this.editing =true;
                this.travelEdit = Object.assign({}, travel)

                var urlTravels = 'trip/create';
                    axios.get(urlTravels).then(response => {
                    
                    this.states = response.data.states;
                    $('#modal').modal('show')
                    $('#modal').on('hidden.bs.modal', e => {
                        this.editing =false
                        this.travelEdit = {}
                    })
                }).catch(error => {
                                console.log(error)
                            });               

            },
            updateTravel (id) {
                var url = 'trip/' + id;

                axios.put(url, this.travelEdit).then(response => {
                    console.log(response);
                    this.getTravels();
                    $('#modal').modal('hide');
                    swal("Registro Actualizado", "El registro se ha actualizado con Éxito", "success");
                    this.clear();
                    t
                }).catch(error => {           
                    this.errors = error.response.data.errors;
                    
                });            
            },
            clear: function(){
                this.travel = {
                        code:'',
                        places: '',
                        id_from:'',
                        id_to:'',
                        id_state:'',
                        price:''
                    }
                
                this.travelEdit = {}
               
                this.errors = [];

                this.editing = false;
            }
        }
    }
</script>
