<template>
    <section class="layout-content">
        <div>
            <div class="col-xs-12 text-center">
                <h1>Agencia de Viajes</h1>
                <hr>
                <img src="img/php.png">
            </div>
        </div>
    </section>
</template>
